{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="about-us-container">
                <h2 class="font-weight-bold">About Us</h2>
                <p>Bienvenido a iShop, tu destino número uno para encontrar los últimos modelos de iPhones. En iShop, nos apasiona ofrecerte la mejor experiencia de compra, brindándote acceso a la tecnología más avanzada y elegante de Apple. Nuestro compromiso es proporcionar productos de alta calidad y un servicio excepcional para satisfacer todas tus necesidades tecnológicas.</p>
                <p>Somos un equipo apasionado de entusiastas de la tecnología, comprometidos a mantenernos al tanto de las últimas tendencias y lanzamientos de Apple. En iShop, no solo vendemos productos, creamos experiencias.</p>
                <p class="highlight">Explora nuestra tienda en línea para descubrir la gama completa de productos Apple, desde los últimos iPhones hasta accesorios innovadores. Estamos aquí para ayudarte a encontrar el dispositivo perfecto que se adapte a tu estilo de vida.</p>
                <p>En iShop, no solo creemos en la tecnología, sino también en la comunidad. Únete a nosotros en eventos exclusivos, talleres y lanzamientos de productos. Estamos aquí para conectarnos contigo y crear una comunidad apasionada de amantes de la tecnología.</p>
                <p>Gracias por elegir iShop como tu destino de compras de tecnología. Esperamos inspirarte, emocionarte y brindarte una experiencia de compra única.</p>
            </div>
        </div>
    </div>
{% endblock %}
